body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    padding: 50px;
    background-color: #007acc;
    color: white;
}
#projects {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 8px;
}

#projects a {
    color: #007acc;
    font-size: 1.2em;
    text-decoration: none;
}

#projects a:hover {
    text-decoration: underline;
}

