body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
}

header {
    padding: 50px;
    background-color: #007acc;
    color: white;
}

#projects ul {
    list-style: none;
    padding: 0;
}

#projects li {
    margin: 20px 0;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
